.mangoItem {
  position: absolute;
}

.mangoButton {
  background-color: inherit;
}

.blooming {
  color: pink; 
  font-size: 20px;
}

.unripe {
  color: greenyellow; 
  font-size: 30px;
}

.ripening {
  color: orange;
  font-size: 40px;
}

.ripe {
  color: #ff4d01;
  font-size: 60px;
}