.mangoItem {
  position: absolute;
}

.mangoButton {
  background-color: inherit;
}

.unripe {
  color: white; 
  font-size: 20px;
}

.ripening {
  color: yellow;
  font-size: 40px;
}

.ripe {
  color: orange;
  font-size: 60px;
}