.userAvatars {
    border: 2px solid white !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 0px;
}

.feedNameBtn {
    padding: 0px;
}

.AvatarCol {
    padding: 0px;
}

.TimestampCol {
    padding: 0px;
}

.TaskFeed {
    padding-right: 0px;
    padding-left: 0px;
}

.TaskCol {
    padding: 0px;
}

.loadingDiv {
    width: 100%;
}

.giveMangoButton {
    color: lightgrey;
    background-color: #1b2a4f;
}

.TaskUnit {
    border-radius: 6px;
    border: 3px solid white;
    padding: 6px;
    box-shadow: 0px 2px 5px 0px black;
    opacity: 0.0;
    animation: cardAnim 1.0s ease forwards 0s;
}

.feedPad {
    padding-bottom: 50px;
}

.feedTitleDiv {
    padding-left: 0px;
    padding-right: 0px;
}

.taskListFeed {
    padding-left: 0px;
    padding-right: 0px;
    width: 65%;
}

.taskFeedContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.CompletedTask {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.popMango {
    margin-left: -10px;
}

.SocialUnit {
    background-color: lightgray;
    padding: 0px;
}

.clapButton {
    border-radius: 4px;
    padding: 3px;
    height: 38px;
    width: 70px;
    border: transparent;
    box-shadow: 0px 1px 3px 0px black;
}

.clapButtonOwn {
    background-color: lightgray !important;
    padding: 3px;
    height: 38px;
    width: 70px;
    border: transparent;
}

.ownUserClap {
    margin-left: -15px;
}

.addMangoButton {
    color: white;
    background-color: #FCA311;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 3px;
    margin-left: 5px;
    border: transparent;
    box-shadow: 0px 1px 3px 0px black;
}

.addMangoButtonOwn {
    background-color: lightgray !important;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 3px;
    margin-left: 5px;
    border: transparent;
    opacity: 0;
}

.mangoPlusOwn {
    opacity: 0;
}

.mangoPlus {

}

.clapButtonImg {
    background-color: #FCA311;
    margin-top: -8px;
    margin-right: 5px;
}

.completedDesc {
    color: #FCA311;
}

.doneIcon {
    color: green;
    font-size: 32px !important;
    margin-left: 5px;
    border-radius: 6px;
    padding-bottom: -5px;
}

@keyframes cardAnim {

    from {
    }

    to {
        opacity: 1.0;
    }

}

.purchaseButton {
    margin-bottom: -80px;
}


.badgeIcon {
    font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
    .CompletedTask{
        font-size: 30px;
        font-size: 3.5vw;
    }

    .feedTitleHeader{
        font-size: 40px;
    }

    .userAvatars{
        width: 45px;
        height: 45px;
    }

    .taskListFeed {
        width: 100%;
    }

    .clapButton{
        height: 30px;
    }

    .clapButtonOwn{
        height: 30px;
    }

    .feedPad {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .taskListFeed {
        width: 75%;
    }

    .userAvatars {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .taskListFeed {
        width: 80%;
    }

    .userAvatars {
        width: 50px;
        height: 50px;
    }
}
