.userAvatar {
    border-radius: 50%;
    border: 2px solid black;
}

.TaskUnit {
    border-radius: 6px;
    border: 3px solid black;
    padding: 6px;
}

.CompletedTask {
    padding-bottom: 10px;
}

.SocialUnit {
    background-color: lightgray;
    padding: 0px;
}

.clapButton {
    float: left;
    background-color: #FCA311;
    border-radius: 4px;
    margin-left: 3px;
    padding: 3px;
    border: transparent;
    box-shadow: 0px 3px 7px 0px black;
}

.addMangoButton {
    color: white;
    float: right;
    background-color: #FCA311;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 3px;
    margin-right: 40px;
    border: transparent;
    box-shadow: 0px 3px 7px 0px black;
}

.clapButtonImg {
    background-color: #FCA311;
}

.mangoSocialImg {
    margin-bottom: -6px;
}

.socialClap {
}

.socialMango {
}