.userAvatar {
    border-radius: 50%;
    border: 2px solid black;
}

.TaskUnit {
    border-radius: 6px;
    border: 3px solid black;
    padding-top: 6px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 15px;
}

.SocialUnit {
    background-color: lightgray;
    padding: 6px;
}

.clapButton{
    background-color: #FCA311;
    border-radius: 4px;
    border: transparent;
}

.clapButtonImg {
    background-color: #FCA311;
}