{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 0,
    "react/prop-types": "off",
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error", {
        "semi": true,
        "endOfLine":"auto"
      }
    ],
    // DEFINE EXCEPTIONS BELOW
    "no-underscore-dangle": [
      "error",
      { "allow": ["__REDUX_DEVTOOLS_EXTENSION__", "_id"]}
    ],
    "no-use-before-define": ["error", { "variables": false }],
    "camelcase": ["error", { "allow": ["user_id", "task_id", "auth0_id"]}],
    "no-console": ["error", { "allow": ["error"] }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["feed", "feedItem"] }]
  },
  // resolves eslint errors due to setting a static src path to files
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
