/* Headers and Divs */

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: lightskyblue;

    z-index: 1;
}

.page-container {
    margin-top: 50px;
}

/* Navbar related */

.navbar {
    background-color: #ADA0A6;

    height: 80px;
}

.navbar-image {
    width: 80px;
    height: 80px;

    padding: 10px;
}