/* Headers and Divs */

#header1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 3em;
}

#header2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
}

#container-div {
    font-family: "Lucida Console", Monaco, monospace;
}

.centered-div {
    background-color: #61dafb;

    margin: auto;
    width: 80%;
    padding: 30px;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: lightskyblue;

    z-index: 1;
}

.navbar-image {
    width: 80px;
    height: 80px;

    padding: 10px;
}