.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;

    z-index: 10;

    background-color: blue;
}

.alert-container {
    position: absolute;
    left: 0;
    right: 0;

    padding-top: 30px;
    opacity: 0.8;
}

@media only screen and (min-width: 768px) {
    .sticky-container {
        top: 100px
    }
}

.alert-object {
    position: relative;

    z-index: 999;
}