.alert-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 50px;
    margin-right: 50px;

    padding-top: 20px;
}

.alert-object {
    position: relative;

    z-index: 999;
}