.publicLabel {
    margin-bottom: 0px;
}

#public{
    transform: scale(1.5);
}

.taskForm {
    opacity: 0;
    animation: fadeAnim 0.8s ease forwards;
}

@keyframes fadeAnim {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

}