.about-us-container {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;

    background-image: url("/mangos-banner.png");
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-body {
    position: relative;

    width: 80%;
    height: 80%;

    background-color: #E5E5E5;

    padding: 40px;
    margin: 0 auto; /* centers the div to parent with 0 margin */
    top: 50px;

    opacity: 200%;
}