input, button, submit {
  border: none; 
  background: #E5E5E5;
}

.cursor-pointer { 
  cursor: pointer;
  outline: none;
}

.date-custom-input { 
  outline: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.task-icon {
  font-size: 35px;
}

.done {
  background: grey;
  .description {
    text-decoration: line-through;
  }
}

.task button, button:hover {
  background-color: inherit;
}

.task form input:valid {
  background-color: inherit;
}