// $primary: #ADA0A6;
// $secondary: #FCA311;
// $light: #E5E5E5;
// $bg-dark: #F0F0F0;

$theme-colors: (
  // primary: #ADA0A6,
  primary: #14213D,
  secondary: #FCA311,
  light: #E5E5E5,
  bg-dark: #F0F0F0,

);

@import "~bootstrap/scss/bootstrap";