// $primary: #ADA0A6;
// $secondary: #FCA311;
// $light: #E5E5E5;
// $dark: #F0F0F0;

$theme-colors: (
        primary: #ada0a6,
        secondary: #fca311,
        light: whitesmoke,
        dark: #097275,
        muted: #F3E8CB,
);

.black-text {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  background-color: #097275;
}

@import "~bootstrap/scss/bootstrap";
