/* Navbar related */

.navbar {
    /*background-color: #ADA0A6;*/

    height: 80px;
}

.navbar-brand {
    height: 80px;
}

.navbar-image {
    width: 80px;
    height: 80px;

    padding: 5px;

    margin-top: -5px;
    margin-left: 5px;
}

.navbar-collapse {
    height: 80px;
}

.navbar-nav {
    height: 80px;
}

.nav-profile {
    height: 80px;
}

#nav-about {
    padding: 4px 24px;

    margin: -2px 0px;
}

#nav-about:hover {
    background-color: #F9F7F7;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fixed-footer {
    position: relative;

    left: 0;
    bottom: 0;
    width: 100%;

    margin-top: auto;
    text-align: center;

    z-index: auto;
}